<div class="container">
  <h1>Dashboard</h1>
                <hr>
  
  <h2 class="my-2">Breakfasts</h2>
    <div class="row my-5">
      <div class="col-lg-12 my-2"> 
        <div class="card"> <%= column_chart @user_breakfasts%></div>
      </div>

      <div class="col-lg-6 my-2"> 
        <div class="card"> <%= column_chart @times %></div>
      </div>

      <div class="col-lg-6 my-2"> 
        <div class="card"> <%= column_chart @places %></div>
      </div>
    </div>
  </div>
  <br>
  <h2 class="my-2">Breakfasts </h2>
  <div class="row my-5">
      <div class="col-lg-6 my-2"> 
        <div class="card"> <%= pie_chart UserBreakfast.group(:user_breakfasts).count %></div>
      </div>
      <div class="col-lg-6 my-2"> 
        <div class="card"> <%= pie_chart @times %></div>
      </div>

      <div class="col-lg-6 my-2"> 
        <div class="card"> <%= pie_chart @places%></div>
      </div>
</div>