<p id="notice"><%= notice %></p>

<h1>Hi <%= current_user.full_name %></h1>

<% @user_breakfasts.each do |breakfast| %>
  <div class="form_breakfast">
  <%= form_with(model: breakfast, local: false) do |form| %>
    <%= form.hidden_field :user_id, id: false %>
    <%= form.hidden_field :breakfast_id, id: false %>

    <p data-id="<%= breakfast.id %>">
      <%= breakfast.breakfast.date.strftime("%B-%d-%Y") %>
      <%= form.select :place, @places %>
      <%= form.select :time, @times %>
      <%= form.submit %>
    </p>
  <% end %>
  </div>
<% end %>
