<!DOCTYPE html>
<html>
  <head>
    <title>Hotel-Breakfast-Reservations-App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@1,300;1,700&display=swap" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="">  
<nav class="navbar navbar-expand-lg  navbar-light  border border-3 " style="background-color: #20c997;">
  <div class="container-sm my-2">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  " id="navbarNavDropdown">
      <ul class="navbar-nav  ">
        <% if current_user %>
        <li class="nav-item"><button class="btn btn-outline-success me-2" type="button"><%= link_to('Cerrar sesi贸n Usuario', destroy_user_session_path, method: :delete)%></button>
        <% else %>
        <li class="nav-item"><button class="btn btn-outline-success me-2" type="button"><%= link_to('Iniciar sesi贸n', new_user_session_path)%></button>
        <li class="nav-item"><button class="btn btn-outline-success me-2" type="button"><%= link_to('Registrarse', new_user_registration_path)%></button>
              <% end %>
        <li class="nav-item dropdown  ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Acceso Admin
          </a>
          <ul class="dropdown-menu  border border-3" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#"><%= link_to('Cerrar sesi贸n admin', destroy_admin_session_path, method: :delete)%></a></li>
            <li><a class="dropdown-item" href="#"><%= link_to('Iniciar sesi贸n', new_admin_session_path) %></a></li>
            <li role="separator" class="divider"></li>
            <li><a class="dropdown-item" href="#"><%= link_to('Registrarse', new_admin_registration_path) %></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    
  </body>
</html>
